[submodule "gateway-setup/nat/setup_suzukautako.sh"]
	path = gateway-setup/nat/setup_suzukautako.sh
	url = https://gist.github.com/chun37/f7c4fc3aaeabd6e39ca5ad42b5d2f85c
[submodule "gateway-setup/nat/setup_gsngw01.sh"]
	path = gateway-setup/nat/setup_gsngw01.sh
	url = https://gist.github.com/miminashi/e0328a8c246a99c616ef5cae99d095b4
[submodule "gateway-setup/nonat/setup_suzukautako.sh"]
	path = gateway-setup/nonat/setup_suzukautako.sh
	url = https://gist.github.com/chun37/915a3729812b32251f4feb5ebe32dd4c
[submodule "gateway-setup/nonat/setup_gsngw01.sh"]
	path = gateway-setup/nonat/setup_gsngw01.sh
	url = https://gist.github.com/miminashi/8cef85e9fbc4efc6adec88f7bd69f5d0
[submodule "gateway-setup/nat/setup_hotate.sh"]
	path = gateway-setup/nat/setup_hotate.sh
	url = https://gist.github.com/myazakky/66f8c2585d6f4639ab28d6cff7762e9a
